body {
	color:#333333;
	background-color:#E8E6DE;
	text-align:center;
	font-family:Helvetica;
	font-weight:100;"
}

.container {
	margin-top:10rem;
	margin-left:auto;
	margin-right:auto;
}
.logo {
	width:75%;
	margin-bottom:1rem;
}
.promo {
	font-size:1.4em;
}
.icon {
	width:40px;
	height:auto;
}